<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
{% include blog-head.html %}
<title>{{ page.title }}</title>
</head>
<body>
<a href="{{ site.baseurl }}/">Home</a>
<div class="profile">
<h1>{{ page.title }}</h1>
<br>Author: <a href="{{page.authorURL}}" target="_blank">{{ page.author }}</a>
<br>Date: {{ page.date | date_to_string}}
{{ content }}
</div>
<div class="profile" style="width:90%;text-align:center;color:#FFFFFF;">
<h1>Latest Posts</h1>
{% for post in site.posts %}
<div class="post" style="width:50%;">
<a href="{{ post.url | relative_url }}">{{ post.title }}</a>
<br>{{ post.excerpt }}
</div>
{% endfor %}
</div>
</body>
</html>